<template>
  <q-page class="" style="background: #ececf2">
    <section class="col-12">
      <q-card
        flat
        class="col-12 row"
        style="background: #072ac8; height: 235px; position: relative"
      >
        <section class="bg-blue-opaque col-12"></section>
        <section class="justify-end row col-12" style="z-index: 1">
          <img src="public/logos/pokebola.svg" />
        </section>
        <section class="q-pl-lg q-pb-md style-title items-center row col-8">
          <div class="text-white row col-12">
            What pokemon are you looking for?
          </div>
        </section>
        <section
          class="q-pb-lg q-px-md style-title items-end row col-12 justify-around"
        >
          <section class="q-pl-sm q-pb-md col-12 row">
            <div class="col-9">
              <q-input
                v-model="search"
                color="white"
                dark
                label-color="white"
                label="Search pokemon"
                dense
              >
                <template v-slot:append>
                  <q-icon color="white" name="search" />
                </template>
              </q-input>
            </div>
            <div class="col-2 q-pb-sm row justify-end">
              <q-btn
                dense
                flat
                color="blue"
                icon="img:/menu.svg"
                @click="filtros = !filtros"
              />
            </div>
          </section>
        </section>
      </q-card>

      <section class="q-pa-md">
        <section class="" v-for="(item, index) in this.info" :key="index">
          <card-home
            :name="item.name"
            :base_stat="item.detail.stats"
            :base_experience="item.detail.base_experience"
            :order="item.detail.order"
            :moves="item.detail.moves"
            :img="item.img"
            :types="item.detail.types"
            @click="goDetail(item.detail.id)"
          />
        </section>
      </section>

      <div class="q-pa-lg bg-white flex flex-center">
        {{ paginacion.maxpages }}
        <q-pagination
          v-model="currentpage"
          :max="paginacion.maxpages"
          :max-pages="5"
          direction-links
          :ellipses="false"
          :boundary-numbers="false"
        />
      </div>
      <q-dialog maximized v-model="filtros">
        <q-card class="">
          <q-card-section class="col-12 row">
            <div class="col-12 row">
              <q-btn
                dense
                flat
                color="primary"
                icon="close"
                @click="closeDialog()"
              />
            </div>
          </q-card-section>

          <q-card-section
            class="q-pt-none"
            style="font-size: 20px; font-weight: 500"
          >
            Filtrer pokemon list
          </q-card-section>

          <q-card-section class="">
            <div class="col-12">
              <q-select
                filled
                v-model="movimientos"
                :options="movimientosList"
                label="Select movement number"
                style="background: #ececf2"
              />
            </div>
            <div class="col-12 q-pt-md">
              <q-select
                filled
                v-model="levelXp"
                :options="levelList"
                label="Select experience level"
                style="background: #ececf2"
              />
            </div>
            <div class="col-12 q-pt-md">
              <q-select
                filled
                v-model="type"
                multiple
                :options="typelist"
                use-chips
                label="Pokemon type"
                style="background: #ececf2"
              />
            </div>
          </q-card-section>

          <q-card-actions class="col-12 row">
            <section class="col-12 row justify-around">
              <q-btn
                class="col-5"
                no-caps
                label="Cancel"
                v-close-popup
                style="height: 50px; background: #ececf2"
                @click="restaurar()"
              />
              <q-btn
                class="col-5 text-white"
                no-caps
                label="Filter"
                v-close-popup
                style="height: 50px; background: #072ac8"
                @click="filtrado()"
              />
            </section>
          </q-card-actions>
        </q-card>
      </q-dialog>
    </section>
  </q-page>
</template>

<script lang="ts" setup>
import { onMounted, ref, watch } from 'vue';
import { Loading } from 'quasar';
import { useRouter } from 'vue-router';

import CardHome from 'src/components/CardHome.vue';

import { usePokemonStore } from 'src/stores/pokeStore';
const pokemonStore = usePokemonStore();

const router = useRouter();

const info = ref(pokemonStore.pokemones);
const respaldo = ref(pokemonStore.pokemones);
const search = ref('');
const filtros = ref(false);
const currentpage = ref(1);

const movimientosList = ref([
  { label: '1-25', value: '1-25' },
  { label: '25-50', value: '25-50' },
  { label: '50-75', value: '50-75' },
  { label: '75-100', value: '75-100' },
  { label: 'mas de 100', value: '100' },
]);

const levelList = ref([
  { label: '1-25', value: '1-25' },
  { label: '25-50', value: '25-50' },
  { label: '50-75', value: '50-75' },
  { label: '75-100', value: '75-100' },
  { label: 'mas de 100', value: '100' },
]);
const typelist = ref([
  'normal',
  'fighting',
  'flying',
  'poison',
  'ground',
  'rock',
  'bug',
  'ghost',
  'steel',
  'fire',
  'water',
  'grass',
  'electric',
  'psychic',
  'ice',
  'dragon',
  'dark',
  'fairy',
  'unknown',
  'shadow',
]);
const type = ref([]);
const movimientos = ref();
const levelXp = ref();
const paginacion = ref({ next: null, previous: null, maxpages: 20 });

watch(search, (val) => {
  if (val) {
    const data = respaldo.value.filter((item) => item.name.includes(val));
    info.value = data;
  } else {
    info.value = respaldo.value;
  }
});

watch(currentpage, (newvalue, oldvalue) => {
  const urlnext = paginacion.value.next;
  const urlprev = paginacion.value.previous;
  if (newvalue < oldvalue) {
    getPokemon(urlprev);
  } else {
    getPokemon(urlnext);
  }
});

const getPokemon = async (query) => {
  await pokemonStore.getAllPokemones(query);
  info.value = pokemonStore.pokemones;
  respaldo.value = pokemonStore.pokemones;
  paginacion.value.next = info.value.next;
  paginacion.value.previous = info.value.previous;
  paginacion.value.maxpages = Math.round(info.value.count / 20);
};

const goDetail = (id: number) => {
  router.push('/pokemon/' + id);
};

const closeDialog = () => {
  filtros.value = false;
  type.value = [];
  movimientos.value = '';
  levelXp.value = '';
};

const filtrado = () => {
  const data = respaldo.value.filter((item) => {
    if (type.value.length > 0) {
      for (let i = 0; i < type.value.length; i++) {
        for (let j = 0; j < item.detail.types.length; j++) {
          if (type.value[i] === item.detail.types[j].type.name) {
            return item;
          }
        }
      }
    } else {
      return item;
    }
  });

  const data2 = data.filter((item) => {
    if (movimientos.value) {
      if (movimientos.value.label === 'mas de 100') {
        if (item.detail.moves.length >= 100) {
          return item;
        }
      } else {
        const movFilter = movimientos.value.value.split('-');
        movFilter[1] = parseInt(movFilter[1]);
        movFilter[0] = parseInt(movFilter[0]);
        if (
          item.detail.moves.length >= movFilter[0] &&
          item.detail.moves.length <= movFilter[1]
        ) {
          return item;
        }
      }
    } else {
      return item;
    }
  });

  const data3 = data2.filter((item) => {
    if (levelXp.value) {
      if (levelXp.value.label === 'mas de 100') {
        if (item.detail.base_experience >= 100) {
          return item;
        }
      } else {
        const levelFilter = levelXp.value.value.split('-');
        levelFilter[1] = parseInt(levelFilter[1]);
        levelFilter[0] = parseInt(levelFilter[0]);
        if (
          item.detail.base_experience >= levelFilter[0] &&
          item.detail.base_experience <= levelFilter[1]
        ) {
          return item;
        }
      }
    } else {
      return item;
    }
  });

  info.value = data3;
};

const restaurar = () => {
  info.value = respaldo.value;
  closeDialog();
};

onMounted(async () => {
  await getPokemon();
  paginacion.value.next = info.value.next;
  paginacion.value.previous = info.value.previous;
  paginacion.value.maxpages = Math.round(info.value.count / 20);
});
</script>

<style scoped>
.poke {
  background-image: url('/public/logos/pokebola.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.bg-blue-opaque {
  background: #072ac8d3;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.style-title {
  z-index: 3;
  height: 100%;
  position: absolute;
  font-weight: 500;
  font-size: 20px;
}
</style>
