<template>
<q-page class="">
  <q-card flat class="col-12 row">
    <section class="col-12 " style="height:260px;background:#ECECF2">
      <div class="q-pa-md col-12">
        <q-btn size="sm" dense flat color="black" icon="img:Go_Back.svg" @click="Go_Back()" />
      </div>
      <section class="col-12 justify-center items-center row">
          <div v-if="info && info.name" class="" style="font-weight: 600;font-size: 24px;">{{info.name}}</div>
          <div v-if="info && info.id" class="q-pl-sm" style="font-weight: 500;font-size: 24px;">#{{info.id}}</div>
          <div class="col-12 justify-center items-center row">
            <q-img class="items-cemter row col-12 justify-center" v-if="info && info.sprites"  style="height:145px;width:145px" :src="info.sprites.other.home.front_default">
            </q-img>
          </div>
      </section>
    </section>


    <q-card-section class="col-12 row q-px-md q-pt-md">
    <div class=" col-12">
      <q-tabs
          v-model="tab"
          dense
          no-caps
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          narrow-indicator
          style="max-width: 150px"
        >
          <q-tab name="About" label="About" />
          <q-tab name="Moves" label="Moves" />
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel class="col-12 row" name="About">
            <section class="q-pl-md col-12 row q-pt-lg q-gutter-y-md">
              <about-data
                v-if="info && info.species"
                title="Species"
                :data="info.species"
              />
              <about-data
                v-if="info && info.height"
                title="Height"
                :data="info.height"
              />
              <about-data
                v-if="info && info.weight"
                title="Weight"
                :data="info.weight"
              />
              <about-data
                v-if="info && info.abilities"
                title="Abilities"
                :data="info.abilities.length"
              />
              <type-pokemon
                v-if="info && info.types"
                title="Type"
                :types="info.types"
              />
            </section>
          </q-tab-panel>

          <q-tab-panel class="col-12 row" name="Moves">
            <div class="col-12 row q-py-lg" style="font-weight: 500;font-size: 16px;">{{info ? info.moves.length : ''}} moves</div>
              <section class="col-12 row items-center justify-center">
                <section class="col-12 row q-gutter-y-md justify-center q-gutter-x-sm">
                  <section v-for="(item,index) in info.moves" :key="index" class="row cambio cambio-green cambio-gren" style="width:100px">
                    <card-moves
                      class="col-12 row"
                      :name="item.move.name"
                      :index="index"
                      :icono="child(index)"
                    />
                  </section>

                </section>
              </section>
          </q-tab-panel>

        </q-tab-panels>

    </div>
    </q-card-section>

  </q-card>
</q-page>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import  { Loading } from 'quasar';
import { usePokemonStore } from 'src/stores/pokeStore';
import AboutData from 'src/components/AboutData.vue';
import TypePokemon from 'src/components/TypePokemon.vue';
import CardMoves from 'src/components/CardMoves.vue';
const pokemonStore = usePokemonStore();

const router = useRouter();

const info = ref(pokemonStore.pokemon);
const tab = ref('About')
const id = router.currentRoute.value.params.id;

const Go_Back = () => {
  router.push('/');
};

const getInfo = async () => {
  Loading.show();
  await pokemonStore.getPokemon(id);
  info.value = pokemonStore.pokemon;
  Loading.hide();
};


const child = (index: number) => {
  const n = index + 1;
  if (n % 3 === 2) {
    return 'img:Icon 2.svg';
  } else if (n % 3 === 0 || n % 3 === 1) {
    return 'img:Icon 1.svg';
  }
};

onMounted(() => {
  getInfo();
});

</script>

<style scoped>
.cambio:nth-child(3n+2) {
  background: #6E44FF;
  border-radius:4px
}

.cambio-gren:nth-child(3n+0) {
  background: #16C172;
  border-radius:4px
}

.cambio-green:nth-child(3n+1) {
  background: #16C172;
  border-radius:4px
}

</style>
