<template>
  <section class="col-12 row">
    <div class="col-4 row title-font ">
      {{title}}:
    </div>
    <div class="col-6 row datos-font">
      {{data}}
    </div>
  </section>
</template>
<script lang="ts" setup>

const props = defineProps<{
  title: string;
  data : string | number
}>();

</script>
<style scoped>

.title-font {
  font-weight: 400;
  font-size: 16px;
  color: #8D91A5;
}

.datos-font {
  font-weight: 500;
  font-size: 16px;
  color: #3B3B3B;
}
</style>
