<template>
<section class="col-12 row border-line" style="height:65px;">
  <section class="q-pa-xs col-12 row items-center justify-center">
    <section class="col-12 row justify-center">
      <q-icon size="23px" :name="icono" />
    </section>
    <div class="col-12 row justify-center">
      <div class="text-white text-center" style="font-size: 12px;font-weight: 400;">{{name}}</div>
    </div>
  </section>
</section>

</template>

<script lang="ts" setup>

const props = defineProps<{
  name: string;
  index: number;
  icono: string;

}>();

</script>

<style scoped>

.border-line {
  border: 1px solid #ECECF2;
  border-radius:4px

}

</style>
