<template>
  <div class="q-pa-md">
    <section class="justify-center">
      <q-card class="" style="border-radius:25px">
          <img class="q-px-xl q-pt-md" style="background:#ECECF2" :src="img">

        <q-card-section class="q-px-md q-pt-md">
          <div class="col-12 row" style="font-size: 20px;font-weight: 500;">{{name}}</div>
          <div class="col-12 row" style="color: #8D91A5;"># {{order}}</div>
        </q-card-section>
        <section class="q-px-md">
          <section class="col-12 row">
            <div class="col-4" style="font-weight: 400;font-size: 14px;color: #8D91A5;">Move <b style="font-size: 14px;line-height: 22px;color: #55596D;">{{moves ? moves.length : ''}}</b></div>
            <div class="col-4" style="font-weight: 400;font-size: 14px;color: #8D91A5;">Experience <b style="font-size: 14px;line-height: 22px;color: #55596D;">{{base_experience}}</b></div>
          </section>
        </section>

        <q-card-section class="q-px-md q-pt-md col-12 row q-gutter-x-md">
          <section v-for="(item,index) in this.types" :key="index">
            <type-tag :nametag="item.type.name"
            />
          </section>
        </q-card-section>
      </q-card>
    </section>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue';
import TypeTag from './TypeTag.vue';

const props = defineProps<{
  name: string;
  base_stat: [];
  base_experience: number;
  order: number;
  moves: [];
  img: string;
  types: [];
}>();



</script>
