<template>
  <div class="q-pa-sm row" style="background: #ECECF2;border-radius:16px">
    <section class="col-12 row items-center">
      <div class=" row">
        <div style="font-size: 14px;font-weight: 400;color: #8D91A5;">{{nametag}}</div>
      </div>
    </section>
  </div>
</template>

<script lang="ts" setup>

defineProps<{
  nametag: string;
}>();

</script>
