<template>
<section class="col-12 row">
  <div class="col-4 row title-font ">
    {{title}}:
  </div>
  <section class="col-8 row q-gutter-x-sm items-center">
    <div v-for="(item,index) in types" :key="index" class="q-pa-xs col-4 text-white row justify-center" :class='bg(item.type.name)' style="border-radius:2px">
      {{item.type.name}}
    </div>
  </section>
</section>

</template>

<script lang="ts" setup>

const props = defineProps<{
  types: [];
  title: string;
}>();

const bg = (type: string) => {
  switch (type) {
    case 'normal':
      return 'bg-normal';
    case 'fire':
      return 'bg-fire';
    case 'water':
      return 'bg-water';
    case 'electric':
      return 'bg-electric';
    case 'grass':
      return 'bg-grass';
    case 'ice':
      return 'bg-ice';
    case 'fighting':
      return 'bg-fighting';
    case 'poison':
      return 'bg-poison';
    case 'ground':
      return 'bg-ground';
    case 'flying':
      return 'bg-flying';
    case 'psychic':
      return 'bg-psychic';
    case 'bug':
      return 'bg-bug';
    case 'rock':
      return 'bg-rock';
    case 'ghost':
      return 'bg-ghost';
    case 'dragon':
      return 'bg-dragon';
    case 'dark':
      return 'bg-dark';
    case 'steel':
      return 'bg-steel';
    case 'fairy':
      return 'bg-fairy';
    default:
      return 'bg-normal';
  }
};

</script>

<style scoped>

.title-font {
  font-weight: 400;
  font-size: 16px;
  color: #8D91A5;
}

.datos-font {
  font-weight: 500;
  font-size: 16px;
  color: #3B3B3B;
}
</style>
