// app global css in SCSS form

@font-face {
  font-family: 'Quasar';
  src:  url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
        url('./fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.my-font {
  font-family: 'Quasar';
}
