$grass: #78c850;
$poison: #a040a0;
$fire: #f08030;
$water: #6890f0;
$bug: #a8b820;
$normal: #a8a878;
$electric: #f8d030;
$ground: #e0c068;
$fighting: #c03028;
$psychic: #f85888;
$rock: #b8a038;
$ghost: #705898;
$ice: #98d8d8;
$dragon: #7038f8;
$dark: #705848;
$steel: #b8b8d0;
$fairy: #ee99ac;

.bg-grass {
  background-color: $grass;
}
.bg-poison {
  background-color: $poison;
}
.bg-fire {
  background-color: $fire;
}
.bg-water {
  background-color: $water;
}
.bg-bug {
  background-color: $bug;
}
.bg-normal {
  background-color: $normal;
}
.bg-electric {
  background-color: $electric;
}
.bg-ground {
  background-color: $ground;
}
.bg-fighting {
  background-color: $fighting;
}
.bg-psychic {
  background-color: $psychic;
}
.bg-rock {
  background-color: $rock;
}
.bg-ghost {
  background-color: $ghost;
}
.bg-ice {
  background-color: $ice;
}
.bg-dragon {
  background-color: $dragon;
}
.bg-dark {
  background-color: $dark;
}
.bg-steel {
  background-color: $steel;
}
.bg-fairy {
  background-color: $fairy;
}
