<template>
  <q-layout view="lHh lpR lFf">

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts" setup>
</script>

<style lang="scss" scoped>
</style>
